.sidebar {
    background-color: var(--clr-primary);
    width: 260px;
    padding: 36px 20px;
    transition: var(--transition-default);
}

.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
}
/* espessura da fonte  */
.info-name {
    font-weight: 500;
}

.info-img {
    width: 48px;
    height: 48px;
    overflow: hidden; /* impede que o conteúdo que excede as dimensões do contêiner seja exibido*/
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-name {
    font-size: 20px;
    color: var(--clr-white);
    text-transform: uppercase;
}

.navigation {
    margin-top: 28px;
    height: 600px;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        width: 4px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--clr-pumpkin);
        border-radius: 18px;
    }
    &::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 18px;
    }
}

.sidebar-change {
    margin-left: -260px;
}
.nav-item {
    margin-bottom: 10px;
    margin-right: 4px;
}

.nav-link {
    display: block;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 14px;
    column-gap: 12px;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    transition: var(--transition-default);
}

.nav-link:hover {
    border: 1px solid var(--clr-primary-light);
}